
*{
	text-align: center;
	font-style: oblique;
	padding: 5;
	font-family: 'Roboto', sans-serif;
}

#Encabezado{
	font-size: 4em;
	margin: 25;
	padding: 10;
}

#Color{
	border-color: white;
	border-radius: 50%;
}

#Elegir, #Traducir{
	margin: 2;
}

#Idioma_Entrada, #Idioma_Salida{
	padding: 100;
	font-size: larger;
}

#Historial{
	padding: 20;
	margin: 5;
	border-color: white;
	border-radius: 50%;
}